conda.enabled = true
docker.enabled = false
report.enabled = true
report.overwrite = true

plugins {
    id 'nf-quilt'
}

params {
    manifest {
        name = "tbAttbSeq"
        description = "This pipeline analyzes attB data"
        author = "Thomas Biondi (thomas.biondi@tome.bio)"
        version = "1.0.0"
    }

    samplesheet = './input/samplesheet.csv'
    outdir = 'output'
    sample_name = 'treated'
    attp_oligo = '/data/XL_CS_TB000234_20240111_analysis/thomas/attP.fasta'
    method = 'direct'
    attb_flank_left = "GCTGACTAGACACTGCTATC,CGTTCTTGCAGCTTGTCAGT"
    attb_flank_right = "CGAAGCATCAGTGATTACGC,CTTACCGGCCTTTACCATGC"
    attp_flank_left = "GTTGTCAGCACAAGAGTGGAGCCATTGTATGCGAGATCGATAGATTGATAGGGGATACAGAATATCCCTGGATACAATAGACGGACAGCTTGGTATCTTAAGTGTAGTCGCGCGTCCAAACCCA"
    attp_flank_right = "AACGGTAAGAGAGTCACATAATGCCTCTGACCGCGTGCCTAGGGTATATTTGGTTAGTATCAAATGGACTAAGATGAATCTTTACACCGAACGTTAAGATATTCTTACGTATAACGTAGCTATG"
    oligos_path = 'input/oligos.csv'
    oligo_attb_flank_left = "GCTGACTAGACACTGCTATC"
    oligo_attb_flank_right = "CGAAGCATCAGTGATTACGC"
    dinucleotide_position = 43
}
