conda.enabled = true
docker.enabled = false
report.enabled = true
report.overwrite = true

plugins {
    id 'nf-quilt'
}

params {
    manifest {
        name = "tbAttbSeq"
        description = "This pipeline analyzes attB data"
        author = "Thomas Biondi (thomas.biondi@tome.bio)"
        version = "1.0.0"
    }

    samplesheet = './input/samplesheet.csv'
    outdir = 'quilt+s3://tb-ngs-genomics-quilt#package=AttBSeq/TCB_attseq_TB000237_20240118'
    sample_name = 'treated'  
    attp_oligo = '/data/XL_CS_TB000234_20240111_analysis/thomas/attP.fasta'
    method = 'direct' 
    attb_flank_left = "ATATGTATACTT"
    attb_flank_right = "CTAAAGACGATG" 
    attp_flank_left = "CGTCCAAACCCA" 
    attp_flank_right = "AACGGTAAGAGA"
}
